<app-employee></app-employee>

<app-the-if-component></app-the-if-component>

<h3>From calculator component</h3>
<app-calculator></app-calculator>

<h3>from atm component</h3>
<app-atm></app-atm>

<h3>Login component</h3>
<app-login></app-login>

<h1>two way data binding</h1>
<app-two-way-data-binding></app-two-way-data-binding>
<div class="center">
  {{title}}  is running!!!!!

<app-first></app-first>
  
</div>
<!-- <table>
  <tr>
  <th>name</th>
  <th>desgignation</th>
  <th>company</th>

</tr>
<td>{{developer_name}}</td>
<td>{{designation}}</td>
<td>{{company}}</td>
<tr>
</tr>
</table> -->